<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.aprendainglesfanap">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LicaoFrutasActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".LicaoAnimaisActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".LicaoParentesActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".LicaoNumerosActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".QuestionarioFrutasActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".QuestionarioAnimaisActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".QuestionarioParentesActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".QuestionarioNumerosActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".LicoesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation= "portrait" />
        <activity android:name=".SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>